Subject: {{{project}}} Board Report due by {{{dueDate}}} - Initial Reminder

Hello,

According to our records, you are listed as the chair of {{{project}}},
a committee that is due to submit a report by {{{dueDate}}}
for the next ASF board meeting. This is an initial reminder to prepare a
report for {{{project}}} and submit it as described below.

In the Apache governance model, the ASF board delegates responsibility for
managing projects to PMCs. This allows projects to govern themselves, in
terms of their own development goals, guidelines, and volunteer spirit,
within the scope of our purpose as an open source foundation. The state
allows us to provide an umbrella of corporate protection to our projects
and volunteers, but only to the extent that we retain active and effective
oversight of each project's operation on behalf of the public's interest.

To enable the board to provide oversight across the foundation, each PMC
is tasked with providing the board a quarterly report on the health of
their project. This allows us to hear your heartbeat, to see the project
through your eyes, and to inform the public through our meeting minutes.

Thank you for being a responsible project chair and helping us maintain
oversight over the Apache Software Foundation. If, for whatever reason,
a full report is not possible by the deadline, please report just that.
It's okay to postpone a report by a month.

Please note that we will be reviewing and approving these reports,
asynchronously, during the week prior to our scheduled board meeting.
Reports received after {{{dueDate}}} will be postponed to the
next regular meeting. Please try to submit your report early.


Submitting your report
----------------------

Full details about reporting to the board are at

  https://www.apache.org/foundation/board/reporting

Please be aware that the board is looking for your personal observations,
assessment, and ideas, not just raw statistics.

Chairs may use one of several mechanisms to submit or edit their report:

 a) the Apache Reporter Service
    https://reporter.apache.org/

 b) the Whimsy online agenda tool
    {{{agenda}}}{{{link}}}

 c) carefully editing and committing changes to the dated agenda in
    https://svn.apache.org/repos/private/foundation/board

 d) or, if none of the above work, send an email to board@apache.org with
    Subject: [REPORT] {{{project}}}

If you believe it won't be possible to prepare a report before the deadline,
or if the PMC is aware that the Chair is unavailable, please report that
and we can reschedule or have someone else report on your behalf.


Attending the Board Meeting
---------------------------

The formal board meeting (usually an online videoconference) will be held at

  {{{meetingDate}}}
  
which in other time zones is

  {{{timeZoneInfo}}}

As always, chairs and ASF members are welcome to attend the board meeting.
However, in most cases, we will not be using meeting time to discuss reports
unless you specifically request time to speak in person.

During the week prior to the meeting, the directors will read the received
reports, make comments (if any) within the agenda tool, discuss those
comments on the board and/or private committee lists, and vote to approve.

If we have comments on a report, we will forward them during the
review and attempt to complete any associated action items as well.
This will allow us to be more responsive to project needs and give you
an opportunity to expand on your report if additional details are
requested prior to the meeting.

Regular board meetings are held monthly, as scheduled at

  https://svn.apache.org/repos/private/committers/board/calendar.txt


Requesting a Board Action
-------------------------

If you want the board to make a decision related to your report, such as
changing the chair, establishing a new committee, or allocating a budget
for something related to {{{project}}}, you should author a resolution
for that purpose or ask a director to do so for you.

To make this easier, there are several templates we use for common board
resolutions. They can be found in

  https://svn.apache.org/repos/private/committers/board/templates

or accessible within the Whimsy online agenda tool

  {{{agenda}}}{{{link}}}

If you do place a resolution before the board and that resolution
has not been preapproved before the board meeting, you are encouraged
to attend the meeting in person to address any last-minute questions
or concerns that might arise.

Thanks,
The ASF Board
